

html,body{
  margin: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

section {
  padding: 80px 0;
}

:root{
  --primary-color: #4458dc;
  --primary-color2: #854fee;
  --title-color: #2f1994bf;
  --text-color: #777777;  
  --border-color: #55111117;  
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
 

  /* font family variables. */ 
  --roboto: 'Roboto', cursive;
} 

.logo{
  color: var(--title-color) !important;
  font-weight: 700;
  font-style: italic;
  font-size: 34px;
  text-transform: uppercase;
}

.header_class .main_menu .navbar .navbar-brand{
  padding: 0 2rem 0 5rem;
  
}

.header_class .main_menu .navbar{
  padding: 1rem 5rem;
  
}

.header_class .main_menu .nav-item .nav-link{
  font-family: var(--roboto);
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.7rem;
  /* color: black; */
  /* border:1px solid var(--border-color); */
}


.header_class .main_menu .navbar-nav .active a{
  background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_class .main_menu .navbar-nav a:hover{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 }

/*Start Styles for Home Section */

.home_section{
  /* border: 1px solid red; */
  width: 100%;
  height: 88vh;
  /* padding: 40vh; */
}

/* .home_section .container-fluid .row{
  padding-top:5%;
} */

.home_section .site-title{
  padding-left: 10%;
  padding-top: 5%;
}

.home_section .site-title .title-text h4{
  padding-left: 10%;
  font-weight: 500;
  color: var(--text-color)
}

.home_section .site-title .title-text h3, h6{
  padding-left: 10%;
  font-size: 1rem;
  color: var(--text-color)
}

.home_section .site-title .title-text h1{
  padding-left: 10%;
  font-size: 4rem;
  color: var(--title-color)
}

.home_section .site-title .buttons{
  margin-top: 30px;
  padding-left: 10%;
}

.home_section .site-title .buttons button{
  margin-right: 20px !important;
}